name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Setup Node.js v14 LTS
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 14
      - name: npm install
        run: npm install

      - name: Test Core
        run: sbt sjsir-interpreter/test
      - name: Run CLI
        run: sbt sjsir-interpreter-cli/run
      - name: Link Browser
        run: sbt sjsir-interpreter-browser/fastOptJS
